<launch>
  <param name="camera_plate_rvec_0" type="double" value="-3.130"/>
  <param name="camera_plate_rvec_1" type="double" value="0.000"/>
  <param name="camera_plate_rvec_2" type="double" value="-0.004"/>
  <param name="camera_plate_tvec_0" type="double" value="-10.04"/>
  <param name="camera_plate_tvec_1" type="double" value="-6.88"/>
  <param name="camera_plate_tvec_2" type="double" value="487.5"/>

</launch>
