<launch>
  <param name="camera_plate_rvec_0" type="double" value="-3.082"/>
  <param name="camera_plate_rvec_1" type="double" value="0.002"/>
  <param name="camera_plate_rvec_2" type="double" value="-0.028"/>
  <param name="camera_plate_tvec_0" type="double" value="-2.690"/>
  <param name="camera_plate_tvec_1" type="double" value="-1.520"/>
  <param name="camera_plate_tvec_2" type="double" value="439.25"/>

</launch>
