<!-- starts the camera used for localization -->
<launch>
  <param name="display" type="int" value="0"/>
  <param name="framerate" type="double" value="25"/>
  <param name="mode" value="MODE_FORMAT7_0"/>
  <param name="square_roi" type="int" value="1"/>
  <param name="compression" type="str" value="none"/>
  <param name="brightness" type="double" value="168"/>
  <param name="shutter" type="double" value="631"/>
  <param name="gain" type="double" value="140"/>


  <!-- various camera parameters -->
  <!--   <param name="cameraguid" value="b09d01006c5a5a"/> -->
  <param name="KK_fx_original" type="double" value="1902"/>
  <param name="KK_fy_original" type="double" value="1896"/>
  <param name="KK_cx_original" type="double" value="547.5"/>
  <param name="KK_cy_original" type="double" value="504.0"/>
  <!-- <param name="kc_k1_original" type="double" value="0.0"/> -->
  <!-- <param name="kc_k2_original" type="double" value="0.0"/> -->
  <!-- <param name="kc_p1_original" type="double" value="0.0"/> -->
  <!-- <param name="kc_p2_original" type="double" value="0.0"/> -->
  <param name="kc_k1_original" type="double" value="-0.18"/>
  <param name="kc_k2_original" type="double" value="1.0"/>
  <param name="kc_p1_original" type="double" value="-0.0002"/>
  <param name="kc_p2_original" type="double" value="0.001"/>

  <param name="KK_fx_undistorted" type="double" value="1881"/>
  <param name="KK_fy_undistorted" type="double" value="1874"/>
  <param name="KK_cx_undistorted" type="double" value="547.7"/>
  <param name="KK_cy_undistorted" type="double" value="529"/>
  <!-- <param name="kc_k1_undistorted" type="double" value="0.0"/> -->
  <!-- <param name="kc_k2_undistorted" type="double" value="0.0"/> -->
  <!-- <param name="kc_p1_undistorted" type="double" value="0.0"/> -->
  <!-- <param name="kc_p2_undistorted" type="double" value="0.0"/> -->
  <param name="kc_k1_undistorted" type="double" value="-0.024"/>
  <param name="kc_k2_undistorted" type="double" value="-0.096"/>
  <param name="kc_p1_undistorted" type="double" value="-0.001"/>
  <param name="kc_p2_undistorted" type="double" value="0.0029"/>

  <!-- tf broadcasters -->
  <node pkg="tf" type="static_transform_publisher" name="original_image_broadcaster" args="-547.5 -504 0 0 0 0 Camera OriginalImage 10" />
  <node pkg="tf" type="static_transform_publisher" name="undistorted_image_broadcaster" args="-547.7 -529 0 0 0 0 Camera UndistortedImage 10" />

  <!-- <param name="roi_undistorted_x_offset" type="double" value="80"/> -->
  <!-- <param name="roi_undistorted_y_offset" type="double" value="0"/> -->
  <!-- <param name="roi_undistorted_height" type="double" value="480"/> -->
  <!-- <param name="roi_undistorted_width" type="double" value="480"/> -->
  <!-- <param name="brightness" type="double" value="1"/> -->
  <!-- <param name="gain" type="double" value="200"/> -->
  <!-- <param name="exposure" type="double" value="400"/> -->
  <!-- <param name="contrast" type="double" value="1463"/> -->
  <!--   <param name="colorfilter" type="str" value="COLOR_FILTER_BGGR"/> -->

  <node name="CameraFirewire" pkg="camera_firewire" type="camera_firewire"/>
</launch>
