<launch>
  <!-- The camera_firewire package and associated parameters -->
  <include file="$(find camera_firewire)/launch/camera_firewire.launch" />

  <!-- various image parameters -->
  <param name="mask_radius" type="double" value="225"/>
  <param name="diff_threshold" type="double" value="65"/>
  <param name="contour_count_max" type="double" value="2"/>
  <param name="image_processor_display_images" type="boolean" value="false"/>

  <!-- Coordinate Systems -->
  <node pkg="tf" type="static_transform_publisher" name="PlateImage_broadcaster" args="4 92 0 0 0 0 Camera PlateImage 10" />

  <!-- Coordinate Systems parameters -->
  <param name="ImageProcessor_OutputCoordinates" type="string" value="Camera"/>

  <!-- ROI Coordinate Systems -->
  <node pkg="tf" type="static_transform_publisher" name="ROIPlateImage_broadcaster" args="80 0 0 0 0 0 UndistortedImage ROIPlateImage 10" />

  <!-- ROI parameters -->
  <!-- <param name="ROIPlateImage_width" type="double" value="480"/> -->
  <param name="ROIPlateImage_width" type="double" value="480"/>
  <param name="ROIPlateImage_height" type="double" value="480"/>

  <node pkg="track_image_contours" type="ImageProcessor.py" name="ImageProcessor" />
  <node pkg="track_image_contours" type="ContourIdentifier.py" name="ContourIdentifier" />
</launch>
