<!-- -*- mode: XML -*- -->

<!-- Start the driver for a specific IEEE1394 digital camera.

     environment: $CAMERA = base file name of camera YAML parameters
                  (default: unibrain)
-->

<launch>

  <!-- set namespace to parameter file name -->
  <node ns="$(optenv CAMERA basler_a622f)"
        pkg="camera1394" type="camera1394_node" name="camera1394_node" >
    <rosparam
       file="$(find camera1394)/launch/$(optenv CAMERA basler_a622f).yaml" /> 
  </node>
</launch>
